/* Style for selected checkboxes */
.hobby-checkbox:checked + .form-check-label {
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.myClass {
    padding-top: 30px;
    padding-bottom: 30px;
}

#myform {
    padding-left: 80px;
    padding-top: 40px;
    padding-right: 80px;
}

.two-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

#myButton1 {
    margin-right: 320px;
}

#myButton2 {
    margin-left: 220px;
}

.modal-content {
    background-color: green;
    color: white;
}
