#faPen {
    float: right;
    margin-bottom: 20px;
}

.myContainer {
    padding-top: 2%;
}

#awf {
    text-align: center;
    color: #ff208c; /* Blue color for the heading */
}

.table {
    border: 2px solid #5bbcff;
}
